

/* sytyles for headings */


h1 { 
   font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
   font-size: 58px;
   color: #fff;
}
h2 {
  font: 25px bold Arial, sans-serif;
}

h3 {
  font: 25px bold Arial, sans-serif;
}

h5 {
  font: 25px bold Arial, sans-serif;
}

footer p {
  font-size: 10px;
}


/* styles for body */
body {
   background: linear-gradient(to bottom, green 5%, white 45%);
   font-family: Arial, sans-serif;
}
img {
  max-width: 100%;
}

/* styles for navigation */
#nav { 
  background-color: fff;
  overflow: hidden;
  width: 100%;
}
#nav ul { 
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: auto;
} 
#nav ul li { 
  font: 15px Arial, sans-serif;
  font-weight: bold;
  float: left;
}
#nav ul a:link {    
  color: #006400;  
}
#nav ul a:visited {
  color: #008000;  
}
#nav ul li a {
  color: #008000;
  display: block;
  padding: .8em;
  border: 2px solid;
  border-radius: .75em;
  margin: .25em;
  text-decoration: none;
} 
#nav ul a:focus { 
  color:#FC6
  border-color: #fff;
}
#nav ul a:hover { 
  color: #000000;
  border-color: black;  
}
#nav ul a:active { 
  color:green;
}

/*styles for layout */



/* ----- Media Queries ----- */

/* Extra small devices (Smartphones, 768px and down) */
@media screen and (max-width: 768px) {
  #wrapper {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
#news {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
#vid {
  float: right;
  width: 100%;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 95px;
}
#aboutpicture {
  float: right;
  width: 100%;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 95px;
}
#aboutpage {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
footer {
  clear: left;
  text-align: center;
}
iframe {
  width: 280px;
  height: 350px;
  
}

}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #wrapper {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

#news {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
#vid {
  float: right;
  width: 100%;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 95px;
}


#aboutpicture {
  float: right;
  width: 100%;
  margin-top: 80px;
  margin-right: 100px;
  margin-bottom: 95px;
}

#aboutpage {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
footer {
  clear: left;
  text-align: center;
}
iframe {
  width: 280px;
  height: 350px;
  margin: 0 auto;
}

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #wrapper {
  width: 960px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 23.5%;
  margin-right: 20%;
}

#news {
  float: left;
  width: 40%;
  margin-bottom: 30px;
}
#vid {
  float: right;
  width: 45%;
  margin-top: 55px;
  margin-right: 100px;
  margin-bottom: 95px;
}


#aboutpicture {
  float: right;
  width: 40%;
  margin-top: 80px;
  margin-right: 100px;
  margin-bottom: 95px;
}

#aboutpage {
  float: left;
  width: 40%;
  margin-bottom: 30px;
}
footer {
  clear: left;
  text-align: center;
}
iframe {
  width: 280px;
  height: 350px;
}

}


/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  #wrapper {
  width: 960px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 23.5%;
  margin-right: 20%;
}
#news {
  float: left;
  width: 40%;
  margin-bottom: 30px;
}
#vid {
  float: right;
  width: 45%;
  margin-top: 55px;
  margin-right: 100px;
  margin-bottom: 95px;
}


#aboutpicture {
  float: right;
  width: 40%;
  margin-top: 80px;
  margin-right: 100px;
  margin-bottom: 95px;
}

#aboutpage {
  float: left;
  width: 40%;
  margin-bottom: 30px;
}
footer {
  clear: left;
  text-align: center;
}
iframe {
  width: 280px;
  height: 350px;
}

}
